.coursesContainer {
  width: 90%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 48%);
  grid-column-gap: 30px;
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {

	.coursesContainer {
        grid-template-columns: repeat(1, 95%);
	}
}