.courseCard {
  display: grid;
  grid-template-rows: repeat(2);
  text-align: center;
  text-decoration: none;
  background-color: #FAFAFA;
  box-shadow: 9px 15px 30px rgba(12, 15, 17, 0.493);
  border-radius: 15px;
  animation-duration: 2s;
  animation-name: fade;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center;
  margin-bottom: 20px;
}

.cardDetails{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.courseCard figure {
  margin: 0;
  padding: 0px;
}
.courseCard img {
  width: 100%;
  height: 98%;
  margin: 0 auto;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0 0 5px 5px;
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}