.hero {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h1 {
  font-size: 60px;
  letter-spacing: 5px;
  text-align: center;
}



@media only screen and (max-width: 600px) {
	.hero h1 {
    font-size: 30px;
	}
}