header{
  background: linear-gradient(to right, #2193b0, #6dd5ed);
  padding-left: 0;
  margin-bottom: 5px;
  top: 0;
  left: 0;
  right: 0;
}

nav{
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

.links{
  text-decoration: none;
  color: white;
  padding: 0 20px;
  font-weight: 600;
  font-size: 20px;
}

@media only screen and (max-width: 700px) {
	.links {
    font-size: 13px;
	}
}