.SessionCart {
  display: grid;
  grid-template-rows: repeat(2);
  text-align: center;
  text-decoration: none;
  background-color: #FAFAFA;
  box-shadow: 9px 15px 30px rgba(12, 15, 17, 0.493);
  border-radius: 15px;
  animation-duration: 2s;
  animation-name: fade;
  transition: 450ms all;
  transform-origin: center;
  margin-bottom: 40px;
  padding-bottom: 13px;
}

.SessionCart .cardDetails {
  border-bottom: 1px solid black;
  width: 80%;
  height: 50%;
}


.SessionCart .adicionalData {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}